html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
}

header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	text-transform: uppercase;
}
header .about {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
header .about a {
	text-decoration: none;
	font-weight: 200;
	color: white;
}
header .app-title {
	font-weight: 800;
	font-size: 40px;
	padding-top: 10px;
	text-align: center;
}
header .app-title a {
	text-decoration: none;
	color: #d9eff8;
}

header .app-title .hot {
	color: #f57171;
}

header .app-title .not {
	color: #71a2f5;
}

header .app-title .cities {
	font-weight: 200;
	color: white;
}

#wheresHot {
	height: 100%;
}
.slider {
	height: 80%;
	width: 1px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 20%;
	z-index: 10;
}
@media screen and (max-height: 600px) {

	.slider {
		height: 70%;
		width: 1px;
		margin: 0 auto;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 30%;
		z-index: 10;
	}
	.city {
		top: 30%;
	}
}
.handle {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	background: rgba(0,0,0,0.3);
	color: white;
	position: relative;
	margin-left: 0 auto;
	line-height: 50px;
	text-align: center;
	left: -25px;
}
.city {
	/*position: absolute;*/
	top: 20%;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
    transition: opacity 200ms;
    transition-delay: 200ms;
}
.city.show {
	opacity: 1;
    transition: opacity 200ms;
}

.city .city-name {
	font-weight: 800;
	/*position: absolute;*/
	left: 0;
	padding: 20px;
	text-align: left;
	font-size: 80px;
}

@media screen and (max-width: 600px) {
	.city .city-name {
		font-size: 50px;
	}
}
.city .city-country {	
	font-size: 30px;
}
.city .city-temp {
	font-weight: 200;
	font-size: 70px;
	/*position: absolute;*/
	right: 0;
	bottom: 10%;
	padding: 20px;
}

#content {
  margin-top: 180px;
  padding: 20px;
  text-align: center;
}
#content p {
  color: darkslategray;
}
.rte {
	width: 70%;
	margin: 0 auto;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	font-weight: 200;
	color: white;
}