html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	background: -webkit-radial-gradient(80% 70%, ellipse farthest-side, rgb(198, 112, 66), rgb(104, 61, 37));
}

header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	text-transform: uppercase;
}
header .about {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
header .about a {
	text-decoration: none;
	font-weight: 200;
	color: white;
	border-bottom: 1px solid;
}
header .app-title {
	font-weight: 800;
	font-size: 40px;
	padding-top: 10px;
	text-align: center;
}
header .app-title a {
	text-decoration: none;
	color: white;
}

header .app-title .hot {
	color: #f57171;
	color: white;
}

header .app-title .fashion {
	font-weight: 200;
	color: white;
}

#wheresHot {
	height: 100%;
}
.slider {
	height: 80%;
	width: 1px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 20%;
	z-index: 10;
}

@media screen and (max-height: 600px) {

	.slider {
		height: 70%;
		width: 1px;
		margin: 0 auto;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 30%;
		z-index: 10;
	}
	.city {
		top: 30%;
	}
}
.handle {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	background: rgba(0,0,0,0.3);
	color: white;
	position: relative;
	margin-left: 0 auto;
	line-height: 50px;
	text-align: center;
	left: -25px;
}
.city {
	bottom: 0;
	position: relative;
	left: 0;
	right: 0;
	opacity: 0;
	color: white;
    transition: opacity 400ms;
    transition-delay: 300ms;
}
.city.show {
	opacity: 1;
    transition: opacity 200ms;
}

.city .city-name {
	font-weight: 800;
	position: absolute;
	left: 0;
	padding: 20px;
	text-align: left;
	font-size: 20px;
}

@media screen and (max-width: 600px) {
	.city .city-name {
		font-size: 20px;
	}
}
.city .city-country {	
	font-size: 14px;
}
.city .city-temp {
  font-weight: 200;
  font-size: 30px;
  position: absolute;
  right: 0;
  /* bottom: 10%; */
  padding: 20px;
}

#content {
  padding: 20px;
  text-align: center;
}
.rte {
	width: 70%;
	margin: 0 auto;
}
.rte h2,
.rte h3 {
	font-size: 30px;
	font-weight: 200;
	text-transform: uppercase;
	color: white;
	margin-bottom: 20px;
	margin-top: 15px;
}
.rte h3 {
	font-size: 20px;
}
.rte ul,
.rte p {
  color: white;
  margin-bottom: 10px;
  line-height: 1.4;
}
.rte a {
  color: white;
  text-decoration: underline;
}
.rte ul {
	max-width: 300px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.rte li {
  color: white;
  list-style: disc;
  text-align: left;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	font-weight: 200;
	color: white;
}