html,
body {
	height: 100%;
	margin: 0;
}

body {
    background-color: skyblue;
	font-family: 'Lato', sans-serif;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	text-transform: uppercase;
}
header .about {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px;

}
header .app-title {
	font-weight: 800;
	font-size: 40px;
	padding-top: 10px;
	text-align: center;
}
header .app-title a {
	text-decoration: none;
	color: #d9eff8;
}

header .app-title .hot {
	color: #f57171;
}

header .app-title .or {

}

header .app-title .not {
	color: #71a2f5;
}

header .app-title .cities {
	font-weight: 200;
	color: white;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.4;
	text-align: center;
}

#wheresHot {
	height: 100%;
}
.slider {
	height: 80%;
	width: 1px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 20%;
	z-index: 10;
}
.handle {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	background: white;
	position: relative;
	margin-left: 0 auto;
	line-height: 50px;
	text-align: center;
	left: -25px;
}
.city {
	position: absolute;
	opacity: 0;
    transition: opacity 200ms;
    transition-delay: 200ms;
}
.city.show {
	opacity: 1;
    transition: opacity 200ms;
}