<header class="header">

    <h1 class="app-title"><a href="#"><span class="hot">HOT</span><span class="or">OR</span><span class="not">NOT</span><br /><span class="cities">Cities</span></span></a></h1>
    <nav class="main-navigation">
        <ul>
            <li class="about"><a href="#/about" id="about">About</a></li>
        </ul>
    </nav>
</header>

<div id="content" role="main">

<div class="slider">
	<div class="handle">
		<span class="value"></span>&deg;C
	</div>
</div>

</div>

<div id="aboutContent"></div>

<footer class="footer">
    <p>I wanted to be a weatherman (once)</p>
</footer>