<div class="rte wrapper">
    <h2>Where's hot?..?</h2>

    <p>Who doesnt want to know where is hot? Some people like it swealtering, some people like it cool. Some people like it dry some people like to sweat it out.</p>

    <p>This app has one simple function - <strong>Tell me where it is the temperature that i like right now</strong></p>
    <p>Use the slider to change the temperature and see where is hot right how</p>
    <p>Source code available on <a href="https://github.com/ticktockreed/wheres-hot">on GitHub</a></p>

</div>