<div class="rte wrapper">
    <h2>Which is the hottest city for fashion right now?</h2>

    <p>Whether you like it hot or cool, this app will tell you where to find the best temperatures in the best cities with the hottest (or coolest) outfits.</p>


    <h3>Future additions:</h3>
    <p>Tweets for #ootd or fashion - based on city geo coordinates could be added to each city view - show pictures</p>
    <p>Suggest clothing for the type of weather you are seeing at each city</p>
    <p>Forecast/current view - switch between views to see what the weather will be like fo rthe coming week</p>
    <p>Show flight costs to the city</p>

    <p>Use the slider to change the temperature and see where is hot right how</p>
    <p>Source code available on <a href="https://github.com/ticktockreed/wheres-hot">on GitHub</a></p>

</div>