<div class="rte wrapper">
    <h2>Which is the hottest city in fashion right now?</h2>

    <p>Whether you like it hot or cool, this app will tell you where to find the best temperatures in the best cities with the hottest (or coolest) outfits.</p>

    <h3>Features</h3>
    <ul>
        <li>Simple UI</li>
        <li>Responsive - Built mobile first</li>
        <li>Weather data gathered from YQL showing the current weather for the top fashion cities of the world</li>
        <li>Built using RequireJS, AMD modules, Backbone, GSAP for UI and animation, and a sprinkling of CSS3</li>
    </ul>


    <h3>Future additions:</h3>
    <ul>
        <li>Tweets for #ootd or #fashion - based on city geo coordinates could be added to each city view - possibly showing pictures</li>
        <li>App could suggest clothing for the type of weather you are seeing at each city - possibly linked to </li>
        <li>Forecast/current view - switch between views to see what the weather will be like for the coming week</li>
        <li>Show flight costs to the city</li>
    </ul>

    <p>Use the slider to change the temperature and see where is hot right how</p>
    <p>Source code available on <a href="https://github.com/ticktockreed/wheres-hot">on GitHub</a></p>
    <p>View a working demo at <a href="wheres-hot.alloftheabove.co.uk">Where's Hot?</a></p>

</div>